{:remove-surrounding-whitespace? true
 :remove-trailing-whitespace? true
 :remove-consecutive-blank-lines? false
 :insert-missing-whitespace? true
 :indent-line-comments? true
 :remove-multiple-non-indenting-spaces? false
 ;; -- fix Calva indentation for async-bridge --
 :extra-indents {as-async [[:inner 0]]
                 let-await [[:inner 0]]
                 may-await [[:inner 0]]
                 do-iterator [[:inner 0]]
                 background [[:inner 0]]
                 until-done [[:inner 0]]
                 async-test [[:inner 0]]
                 async-each [[:inner 0]]}}

