{:deps true
 :builds {:node-client {:target :node-script
                        :main plumcp.core.main.main-client/main
                        :output-to "out/node-client.js"}
          :node-http-server {:target :node-script
                             :main plumcp.core.main.main-http-server/main
                             :output-to "out/node-http-server.js"}
          :node-stdio-server {:target :node-script
                              :main plumcp.core.main.main-stdio-server/main
                              :output-to "out/node-stdio-server.js"}}}