;; Test config - copy this file as test-config.edn and edit
{:auth0 {:authz-server-set #{"FIXME"}
         :valid-issuer-set #{"FIXME"}
         :valid-audience-set #{"FIXME"}}
 :scalekit {:authz-server-set #{"FIXME"}
            :valid-issuer-set #{"FIXME"}
            :valid-audience-set #{"FIXME"}}
 :workos {:authz-server-set #{"FIXME"}
          :valid-issuer-set #{"FIXME"}
          :valid-audience-set #{"FIXME"}}}
